*{
	margin: 0;
	padding: 0;
	list-style: none;
	font: 14px "微软雅黑";
}
.leftmsg .dot{
	font-size: 20px;
	padding-left: 15px;
	background: url(../img/circle.png) no-repeat left center;
}
.leftmsg .dot b{
	color: #31AB01;
	font-size: 20px;
}
.leftmsg .input-group{
	margin-bottom: 30px;
	width: 100%;
}
.leftmsg .input-group .form-control{
	border: 2px solid #31ab01;
	box-shadow: none;
}
.leftmsg .input-group .input-group-addon{
	width: 12%;
	border: 2px solid #31ab01;
	background: #31ab01;
}
.leftmsg .input-group .input-group-addon input{
	color: #fff;
	background: #31ab01;
	border: none;
}




.leftmsg video{
	margin-top: 10px;
	margin-bottom: 50px;
	width: 100%;
}
.leftmsg .smalltitle{
	float: left;
	padding: 5px 0 5px 8px;
	color: #fff;
	background: #7ed528;
}
.leftmsg .arrow{
	float: left;
	display: block;
	width: 30px;
	height: 29px;
	background:url(../img/arrow.png);
}

.leftmsg .searchcon{
	margin-bottom: 10px;
	width: 100%;
	border: 1px solid #eee;
}
.leftmsg .searchcon li{
	margin: 0 auto;
	width: 100%;
	border-bottom: 1px solid #eee;
}
.leftmsg .searchcon li:hover{
	background: #f8f8f8;
}
.leftmsg .searchcon li img:nth-child(1){
	float: left;
	margin-top: 9px;
	margin-left: 9px;
	width: 32%;
	height: 90%;
	border-radius: 2px;
}
.leftmsg .searchcon li div:nth-child(2){
	float: left;
	margin-left: 1.5%;
	width: 63.5%;
}
.leftmsg .searchcon li div:nth-child(2) a:nth-child(1){
	line-height: 45px;
	font-weight: bold;
	color: #666;
	font-family: arial;
	text-decoration: none;
}
.leftmsg .searchcon li div:nth-child(2) a:nth-child(1):hover{
	color: #77B00A;
}
.leftmsg .searchcon li div:nth-child(2) p:nth-child(2) .author{
	color: #3c0;
	/*font-size: 16px;*/
}


.leftmsg .errorbox{
	margin-top: 10%;
	width: 100%;
}
.leftmsg .errorbox img:nth-child(1){
	margin-left: 25%;
	width: 50%;
}
.leftmsg .errorbox p:nth-child(2){
	margin-top: 50px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #444;
}
.leftmsg .errorbox p:nth-child(2) span{
	font-size: 20px;
	color: #f30;
}
.leftmsg .errorbox p:nth-child(3){
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #444;
}
.leftmsg .more{
	margin-top: 10px;
	display: block;
	width: 100%;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	color: #C0C0C0;
	background: #eee;
}
.leftmsg .more:hover{
	color: #f8f8f8;
	background: #ccc;
}
@media (max-width: 2000px) and (min-width:767px){
	.leftmsg{
		float: left;
		margin-left: 5%;
		width: 63%;
		height: auto;
	}
	.leftmsg .input-group .form-control{
		height: 50px;
		font-size: 16px;
	}
	.leftmsg .input-group .input-group-addon{
		height: 30px;
	}
	.leftmsg .input-group .input-group-addon input{
		height: 30px;
		font-size: 18px;
	}
	.leftmsg .searchcon li{
		/*margin-top: 10px;*/
		height: 180px;
	}
	.leftmsg .searchcon li div:nth-child(2) a:nth-child(1){
		font-size: 20px;
	}
	.leftmsg .searchcon li div:nth-child(2) p:nth-child(2){
		font-size: 15px;
	}
	.leftmsg .searchcon li div:nth-child(2) p:nth-child(3){
		text-indent: 2em;
		font-size:14px ;
	}
}
@media only screen and (max-width: 1050px) and (min-width:767px){
	.leftmsg .input-group .form-control{
		height: 50px;
	}
	.leftmsg .input-group .form-control{
		font-size: 16px;
	}
	.leftmsg .input-group .input-group-addon input{
		height: 30px;
		font-size: 16px;
	}
	
	.leftmsg .searchcon li{
		height: 150px;
	}
	.leftmsg .searchcon li a.curimg{
		display: none;
	}
	.leftmsg .searchcon li div:nth-child(2){
		width: 99%;
	}
}


@media (max-width: 767px) and (min-width:360px){
	.leftmsg{
		float: left;
		margin-left: 5%;
		width: 90%;
	}
	.leftmsg .input-group .form-control{
		height: 40px;
	}
	/*.leftmsg .input-group .form-control{
		font-size: 16px;
	}*/
	.leftmsg .input-group .input-group-addon input{
		height: 20px;
		font-size: 16px;
	}
	.leftmsg .searchcon li{
		margin-top: 8px;
		height: 150px;
	}
	.leftmsg .searchcon li div:nth-child(2) a:nth-child(1){
		font-size: 16px;
	}
	.leftmsg .searchcon li div:nth-child(2) p:nth-child(2){
		display: none;
	}
	.leftmsg .searchcon li div:nth-child(2) p:nth-child(3){
		text-indent: 2em;
		font-size:14px ;
	}
}
@media (max-width: 570px) and (min-width:360px){
	.leftmsg .searchcon li{
		margin-top: 0;
		height: 130px;
	}
	.leftmsg .searchcon li div:nth-child(2){
		width: 98%;
	}
	.leftmsg .searchcon li img:nth-child(1){
		display: none;
	}
}