*{
	margin: 0;
	padding: 0;
	list-style: none;
	font: 14px "微软雅黑";
}


.leftmsg .smalltitle{
	margin-bottom: 10px;
	float: left;
	padding: 5px 0 5px 8px;
	height: 29px;
	color: #fff;
	background: #7ed528;
}
.leftmsg .arrow{
	float: left;
	display: block;
	width: 30px;
	height: 29px;
	background:url(../img/arrow.png);
}
.leftmsg .p{
	width: 97%;
	border-bottom: 2px solid #7ed528;
}
.leftmsg .p .updownbtn{
	clear: both;
	display: block;
	padding-right: 15px;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: right;
	font-size: 18px;
	cursor: pointer;
	color: #fff;
	background: #7ed528 url(../img/upload.png)no-repeat 10% center;
}




.leftmsg .imgs{
	margin-top: 5%;
	position: relative;
	width: 100%;
	height: 1400px;
}
.leftmsg .picbox{
	float: left;
	width: 33%;
	
	padding-right: 1%;
	padding-bottom: 2%;
	color: #888;
	
}
.leftmsg .picbox:hover{
	color: #f40;
}
.leftmsg .picbox .style{
	
	border: 1px solid #999;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.leftmsg .picbox img{
	width: 100%;
	border-bottom: 1px solid #999;
}
.leftmsg .picbox p{
	position: relative;
	top: 5px;
	width: 100%;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
}
@media (max-width: 2000px) and (min-width:767px){
	.leftmsg{
		float: left;
		margin-left: 5%;
		width: 63%;
	}
}



@media (max-width: 767px) and (min-width:360px){
	.leftmsg{
		float: left;
		margin-left: 5%;
		width: 90%;
		height: auto;
	}
}

.file{
	display: none;
	position: fixed;
	top: 12%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 5;
	overflow: hidden;
	overflow-y: auto;
	width: 60%;
	height: 500px;
	border-radius: 3px;
	background: #fff;
}

.file form span:nth-child(1){
	float: left;
	padding-left: 47%;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	color: #fff;
	border-bottom: 2px solid #7ed528;
	background: #7ed528 url(../img/upload.png)no-repeat 43% center;
}

.file form span:nth-child(1) input{
	position: relative;
	left: 0;
	top: -50px;
	width: 100%;
	opacity: 0;
}
.file form img:nth-child(2){
	margin-top: 20px;
	margin-left: 20%;
	width: 60%;
	height: 370px;
}
.file form input:nth-child(3){
	position: absolute;
	top: 460px;
	left: 0;
	width: 80px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	background: #7ed528;
	border:none ;
}
.file p:nth-child(2){
	position: absolute;
	top: 470px;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	color: #f30;
}
.file button:nth-child(3){
	position: absolute;
	top: 460px;
	right: 0;
	width: 80px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	background: #7ed528;
	border:none ;
}
